.navbar-header > h3 {
	margin: 10px 0 10px;
	position: absolute;
    width: 100%;
    text-align: center;
}
main {
	margin-top: 50px;
}

.material-icons.md-36 {
	cursor: pointer;
	font-size: 36px; 
}

.panel, .post-view {
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	* {
		font-size: 12px;
	}
}